<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Lecturer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="avatar">
      <img src="https://www.kuptm.edu.my/images/2020/fcom/staff/FaizahM.png"/>
    </div>

    <div class="faculty">
      <ul>
        <li>
          <input type="checkbox" />
          <div class="alphabet">F</div>
        </li>
        <li>
          <input type="checkbox" />
          <div class="alphabet">C</div>
        </li>
        <li>
          <input type="checkbox" />
          <div class="alphabet">O</div>
        </li>
        <li>
          <input type="checkbox" />
          <div class="alphabet">M</div>
        </li>
      </ul>
    </div>
  </div>

    <div class="content">
      <h1>Siti Faizah Binti Miserom</h1>
      <p>MSc. Computer Science, UiTM</p>
      <p><b>Lecturer</b></p>
      <p>Tel : 03 9206 9700 ext : 741</p>
      <p>Email : <u>faizah@kuptm.edu.my</u></p>
    </div>

</ion-content>
