table {
    width: 100%;
    border-collapse: collapse;
  
    th, td {
      border: 1px solid #ccc;
      padding: 10px;
      text-align: center;
      font-weight: bold;
    }
  
    th {
      background-color: #f2f2f2;
    }
  
    td {
      background-color: #fff;
    }
  
    td[contenteditable="true"] {
      cursor: pointer;
    }
    
    @media (max-width: 600px) {
      th {
        font-size: 10px;
      }
  
      td {
        font-size: 10px;
        padding: 8px;
      }
      table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
      }
    }
    
  }

  ion-content {
    background: #090d00;
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .container {
    font: 400 0.55em/1.5 "Neuton";
    color: rgba(255,255,255,.25); 
    text-align: center; 
    margin: 0
  }

  p {
    text-transform: uppercase;
    letter-spacing: .5em;
    display: inline-block;
    border: 4px double rgba(255,255,255,.25);
    border-width: 4px 0;
    padding: 1.5em 0em;
    position: relative;
    
    span {
  
      font: 700 2em/1 "Oswald", sans-serif;
      letter-spacing: 0;
      padding: .25em 0 .325em;
      display: block;
      margin: 0 auto;
      text-shadow: 0 0 80px rgba(255,255,255,.5);
  
  /* Clip Background Image */
  
      background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
      -webkit-background-clip: text;
      background-clip: text;
  
  /* Animate Background Image */
  
      -webkit-text-fill-color: transparent;
      -webkit-animation: aitf 10s linear infinite;
  
  /* Activate hardware acceleration for smoother animations */
  
      -webkit-transform: translate3d(0,0,0);
      -webkit-backface-visibility: hidden;
  
    }
  }
  
  /* Animate Background Image */
  
  @-webkit-keyframes aitf {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
  }
  